.top-nav {
  z-index: 900;
  position: fixed;
  width: inherit;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6em;
  color: var(--font-light);
  top: 0;
  background-color: transparent;
}
.background-nav {
  position: fixed;
  z-index: -1;
  width: inherit;
  margin-left: -1.6em;
  height: 4em;
  top: 0;
  background-color: var(--grad-color2);
  transition: 100ms;
}
.background-nav .background-darkness {
  position: fixed;
  z-index: -1;
  width: inherit;
  height: 4em;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.top-nav .left {
  font-size: 2.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top-nav .left .arrow {
  border-radius: 600em;
  transform: scale(1.05);
  background-color: var(--font-main);
  color: var(--bg-darkest);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 0.3em;
}
.top-nav .left .arrow-menu {
  display: none;
  flex-direction: row;
  color: var(--font-light);
  align-items: center;
  justify-content: center;
}
.top-nav .left .hidden {
  display: none;
}
.top-nav .left > :first-child.arrow {
  margin-right: 0.2em;
}

.top-nav .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.top-nav .right button {
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

.top-nav .right button.upgrade {
  border-radius: 40em;
  font-weight: 300;
  font-size: 1em;
  border: 0.12em solid gray;
  padding: 0.25em 0.8em;
  margin-right: 2em;
}
.top-nav .right button.upgrade:hover {
  transform: scale(1.05);
}

.top-nav .right button.user-settings {
  display: flex;
  padding: 0.2em;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
  border-radius: 40em;
}
.top-nav .right button.user-settings img {
  height: 100%;
  border-radius: 40em;
}
.top-nav .right button.user-settings .name {
  margin: 0 0.4em;
}
.top-nav .left .search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  height: 1.1em;
  padding: 0 0.2em;
  border-radius: 40em;
  margin-left: 0.4em;
}
.top-nav .left .search-bar .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.2em;
}
.top-nav .left .search-bar .icon-container .icon {
  font-size: 0.8em;
}
.top-nav .left .search-bar input {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  padding-right: 1em;
  min-width: 20em;
}

/* Responsive Mobile Screens */
@media (max-width: 1023px) {
  .top-nav {
    padding: 0 0.4em;
  }
  .background-nav {
    margin-left: -0.4em;
  }
  .top-nav .left .arrow {
    display: none;
  }
  .top-nav .left .arrow-menu {
    display: flex;
  }
  .top-nav .left .arrow-menu.hidden {
    display: none;
  }
  .top-nav .left .search-bar .icon-container {
    display: none;
  }
  .top-nav .left .search-bar input {
    max-width: 35vw;
    min-width: 0;
  }
  .top-nav .right button.upgrade {
    display: none;
  }
}
